%html
  %head
    %title The Murmurs Begin
    / By www.andjosh.com
    %link{href: "/css/murmur.css", rel: "stylesheet"}
 
  %body
    %main
      %h1 The Murmurs Begin
      %p.desc{style: "color:green"}  The game is afoot!
      %ol
        %li Check your inbox.
        %li Choose wisely from the steps available at the end.
        %li Reply with <em>only</em> the number of your choice.
    %script{src: "/js/murmur.js"}
