%html
  %head
    %title Murmur
    / By www.andjosh.com
    %link{href: "/css/murmur.css", rel: "stylesheet"}
 
  %body
    %main
      %h1 Murmur
      %p.desc A choose-your-own-adventure game, over email.
      %div.form-wrap
        %form{method: "POST", action: "/begin"}
          %legend To play, enter your email address.
          %input{type: "email", name: "email", placeholder: "fox@bant.com"}
          %button{type: "submit"} Begin
    %script{src: "/js/murmur.js"}
