body {
    font-family: Baskerville, serif;
    font-size: 16px;
    background: white;
    color: black;
}
h1,h2,h3,h4,h5,h6 {
    font-style: italic;
    font-weight: 500;
    color: grey;
}
main {
    max-width: 600px;
    margin: 2rem auto;
}
form {
}
form legend {
    display: block;
    width: 100%;
    padding: .3rem 0;
    margin-bottom: .3rem;
    color: grey;
    border-bottom: 1px solid #e5e5e5;
}
select, button, select:focus, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
    font-size: 16px;
    font-family: Baskerville;
}
.green {
    color: green;
}
.about {
    margin: 5rem 0 0;
}
